/Services/MultipurposeOrganizer/packages
/Services/MultipurposeOrganizer/Organizer.Data/bin
/Services/MultipurposeOrganizer/Organizer.Data/obj

/Services/MultipurposeOrganizer/Organizer.Models/obj
/Services/MultipurposeOrganizer/Organizer.Models/bin

/Services/MultipurposeOrganizer/Organizer.Services/bin
/Services/MultipurposeOrganizer/Organizer.Services/obj

/Services/packages

/Services/Organizer.Services/obj
/Services/Organizer.Services/bin

/Services/Organizer.Models/obj
/Services/Organizer.Models/bin

/Services/Organizer.Data/obj
/Services/Organizer.Data/bin
/Services/Organizer.Services/Properties/PublishProfiles
